/* *{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: aquamarine;
}
.h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2rem;
    font-size: 3rem;
}
.containers{
    display: flex;

background-color: antiquewhite;  
/* align-items: center;   */
/* justify-content: center; */
/* } */


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.quiz-container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    text-align: left;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
